
body {
    margin: auto;
    background-color: grey;
}

/*
    headings
    paragraphs
    spans
*/

h1 {
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 15px;
    color: #F2EE95;
}

h2 {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    color: goldenrod;
}

h3 {
    font-family: 'Work Sans', sans-serif;
    text-transform: uppercase;
    color: white;
    letter-spacing: .8px;
}





p.one {
    font-family:'Work Sans', sans-serif;
    font-size: 32px;
    font-weight: 100pt;
    color: white;
    padding: 10px;
    padding-left:20px;
}

p.two {
    font-family: 'Work Sans', sans-serif;
    font-size: 22px;
    font-weight: 100pt;
    color: white;
    padding: 10px;
    text-align:center;
	line-height: 2em;
    padding-left: 20px;
}

p.three {
    font-family: 'Work Sans', sans-serif;
    font-size: 32px;
    font-weight: 100pt;
    color: darkorange;
    padding: 10px;
    text-align: center;
    padding-left: 20px;
}

a.one {
	color: white;
}

a.two {
	color: orange;
}

p.four {
    font-family: 'Work Sans', sans-serif;
    color: black;
	font-size: 26px;
    letter-spacing: .8px;
}

p.five {
    font-family: 'Work Sans', sans-serif;
    color: black;
	font-size: 16px;
    letter-spacing: .8px;
}

p.six {
    font-family: 'Work Sans', sans-serif;
    color: orange;
	font-size: 26px;
    letter-spacing: 1.8px;
}
p.seven {
    font-family: 'Work Sans', sans-serif;
    color: orange;
	font-size: 26px;
    letter-spacing: 1.8px;
}

li, ul,ol {
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    font-weight: 100pt;
    color: white;
    padding: 10px;
    padding-left: 20px;
    text-align:left;
    line-height: 1.2px;
}

/*
    boxes
    shapes
    lines (hr)
*/

.b1 {
    width: 80%;
    height: auto;
	margin: 0 auto;
    background: black;
   padding:15px;
}

.b2 {
    width: 100%;
    height: auto;
    background: #33362D;
}

.b3 {
    width: 100%;
    height: auto;
    background-color: #33362D;
}

.b4 {
    width: 100%;
    height: auto;
    background: lightgrey;
}

.b5 {
    width: 100%;
    height: auto;
    background: #1C1C1C;
}


hr.one {
    display: block;
    height: 1px;
    width: 50%;
    align-content: left;
    border-top: 2px solid green;
}

/*
    columns
    grid
*/


.col1 {
    float:left;
    width:33.33%;
    padding: 4px;
    background-color:none;


}

.row1:after {
    content:"";
    display:table;
    clear:both;
}

img.one {
    width: 100%;
    height: auto;
}

img.two {
    align-content: left;
}

img.three {
    width: 50%;
    height: auto;
    align-content: center;
}


/*
    tables
*/

figcaption {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    font-size: 18px;
}

table {
    border: 1px solid black;
    width: 80%;
    height: auto;
    color: white;
    align-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

td {
    border: 1px dashed grey;
    padding: 5px;
}

tr:hover {
    background-color: orange;
}

fieldset {
    color: white;
    font-family: 'Work Sans', sans-serif;
    line-height: 2em;
}